*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Bank Gothic;
}
header{
    background: black;     /*rebeccapurple;*/
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1170px;
}
nav ul {
    display: flex;
    color: white;
    list-style-type: none;

}
ul li a{
    font-size: 18px;
    padding-left: 40px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.logo{
    cursor: pointer;
}
#bn{
    justify-content: center;
}
#bn li{
    background: white;
    border: none;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}
.layer1{
    margin: 0 auto;
    padding: 5rem 0;
    max-width: 1170px;
    gap: 3rem 2rem;
    display: flex;
}
.layer1{
    display: flex;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: #EEEEEE;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    background: #EEEEEE;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}
 #form{
    border-radius: 5px;
    padding: 20px;
}
 .lay1{
     justify-content: center;
     text-align: center;
     align-items: center;
 }
 .lay1 > #art {
     width: 70%;
 }
 .lay > #edd{
     width: 30%;
 }
 .layer2{
     background: black;
 }
 .final-layer{
     margin: 0 auto;
     padding: 5rem ;
     max-width: 1170px;
     gap: 5rem 9rem;
     color: white;
     display: flex;
 }
 .final1{
     color: white;
 }
 .final1 p{
     
     font-size: 20px;
     padding-bottom: 10px;
 }
 .final1 ul{
     list-style-type: none;
 }
 .final1 ul li{
     font-size: 14px;
     padding-top:10px ;
 }
 .bi{
     color: white;
 }