:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(209, 15%, 62%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Bank Gothic;
}
header{
    background: white;     /*rebeccapurple;*/
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1170px;
}
nav ul{
    display: flex;
    color: black;
    list-style-type: none;

}
ul li{
    font-size: 18px;
    padding-left: 40px;
    cursor: pointer;
}
.logo{
    cursor: pointer;
}

.food{
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 90vh;
    background-image: linear-gradient(rgba(32, 31, 31, 0.4), rgba(16, 16, 16, 0.6)), url("neww.jpg");
    background-size: cover;
    background-position: center center;
}
.wooden{
    margin: 0 auto;
    width:1602px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    min-height: 90vh;
    align-items: flex-start;
}
/*.eclipse8{*/
/*    position: absolute;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    top: 55px;*/
/*    margin-right: 16px;*/
/*    border-radius: 100%;*/
/*    background: #FF8C43;*/
/*    z-index: 1;*/
/*    transition: var(--transition);*/
/*    animation: bounce 2s ease-in-out infinite;*/
/*}*/
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.loader-wrapper{
    width: 60px;
    height: 60px;
    padding-top: 20px;
    transition: var(--transition);
    animation: bounce 2s ease-in-out infinite;
}

.loader{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border:10px solid white;
    border-top-color: white;
    border-bottom-color: white;
    border-radius: 50%;
    animation: rotate 5s linear infinite;

}
.loader-inner{
    border-top-color: #162534;
    border-bottom-color: #162534;
    animation-duration: 2.5s;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.8) rotate(-360deg);
    }
}
.avatar{
    width: 70%;
    background: transparent;
    display: flex;
}
.avatar .ava{
    width: 80%;
    display: flex;
    background: white;
    justify-content: left;
    text-align: left;
    align-items: center;
}
.ava .h-5{
    width: 10%;
}
.avatar > #deliver{
    width:30%;
}
.ava > input{
    padding-top: 25px;
    padding-bottom: 25px;
    min-width:70%;
    border: none;
    font-size: 20px;
    outline: none;
}
#heading{
    font-size: 1.5em;
    padding-bottom: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    color: white;
}
#deliver{
    width: 30%;
    background: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#deliver .clock{
    padding-right: 20px;
}
#deliver .arr{
    padding-left: 20px;
}
#deliver p{
    font-size: 20px;
}

.avatar #button{
    width: 100%;
    background: black;
    margin-left: 10px;
}
.avatar a{
    color: white;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
#button{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border: none;
    cursor: pointer;
    height: 70px;
}